analysis_year_list = [2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023]

output_dir = "Y:/Equity Indicators/access"

base_year = 2018   # used only for parcel geography and lookup definitions
crs = 'EPSG:2285'

elmergeo_conn_string = 'AWS-Prod-SQL\Sockeye'
elmer_conn_string = 'DRIVER={ODBC Driver 17 for SQL Server}; SERVER=AWS-PROD-SQL\Sockeye; DATABASE=Elmer; trusted_connection=yes'

# Location of regional GTFS data, with a folder for each year
# If analysis year > available GTFS, script will use newest available
# If analysis year < available GTFS, script will use older available
gtfs_path = "X:/DSA/GTFS/spring"

# List of submodes to include as part of HCT
# Note that BRT is not classified in GTFS data and is usually considered as local bus
# We provide a list of BRT route IDs (below) to be included from the bus submode type
hct_submode_list = [0,2,4]

# 0: streetcar/light rail, 2:rail, 3:bus, 4:ferry
[route_type_map] 
0 = 'light_rail'  
2 = 'commuter_rail'
3 = 'brt'
4 = 'ferry'

# brt route list
[brt_routes]
'KC_100512' = 'A Line'
'KC_102548' = 'B Line'
'KC_102576' = 'C Line'
'KC_102581' = 'D Line'
'KC_102615' = 'E Line'
'CT_701' = 'Swift Blue'
'CT_702' = 'Swift Green'

